@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">practica_4</h1>
    <p>Front Razor Pages consumiendo WebAPI.</p>
    <p><a asp-page="/Ventanas/Entradas" class="btn btn-primary">Ir a Entradas</a></p>
</div>
